#maestro_workflow_container {
}

.example-target {
  padding:4px 10px 4px 35px;
  cursor:help;
  background:#0F67A1 url(help_icon.gif) no-repeat 3px center;
  color:white;
}

.maestro_task_container {
  z-index: 100;
  background: #FFFFFF;
}

.maestro_context_menu {
  display: none;
}

.maestro_task {
}

.maestro_task_body {
  padding: 3px;
  text-align: center;
}

.maestro_task_title {
  height: 22px;
  padding: 0px 3px 0px 3px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.maestro_task_title_grn { background: url(../images/admin/header-green-bg.png) repeat-x; }
.maestro_task_title_red { background: url(../images/admin/header-red-bg.png) repeat-x; }
.maestro_task_title_yel { background: url(../images/admin/header-yellow-bg.png) repeat-x; }
.maestro_task_title_bl { background: url(../images/admin/header-blue-bg.png) repeat-x; }
.maestro_task_title_gry { background: url(../images/admin/header-gray-bg.png) repeat-x; }

.tl { background: url(../images/admin/corners/tl.gif) 0 0 no-repeat; }
.tr { background: url(../images/admin/corners/tr.gif) 100% 0 no-repeat; padding: 10px; }
.tl-grn { background: url(../images/admin/corners/tl-grn.gif) 0 0 no-repeat; }
.tr-grn { background: url(../images/admin/corners/tr-grn.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.tl-red { background: url(../images/admin/corners/tl-red.gif) 0 0 no-repeat; }
.tr-red { background: url(../images/admin/corners/tr-red.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.tl-yel { background: url(../images/admin/corners/tl-yel.gif) 0 0 no-repeat; }
.tr-yel { background: url(../images/admin/corners/tr-yel.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.tl-bl { background: url(../images/admin/corners/tl-bl.gif) 0 0 no-repeat; }
.tr-bl { background: url(../images/admin/corners/tr-bl.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.tl-gry { background: url(../images/admin/corners/tl-gry.gif) 0 0 no-repeat; }
.tr-gry { background: url(../images/admin/corners/tr-gry.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.bl { background: url(../images/admin/corners/bl.gif) 0 100% no-repeat; }
.br { background: url(../images/admin/corners/br.gif) 100% 100% no-repeat; }
.t { background: url(../images/admin/corners/dot.gif) 0 0 repeat-x; }
.b { background: url(../images/admin/corners/dot.gif) 0 100% repeat-x; }
.l { background: url(../images/admin/corners/dot.gif) 0 0 repeat-y; }
.r { background: url(../images/admin/corners/dot.gif) 100% 0 repeat-y; }
