.aligntop {
  vertical-align:top;
}

.alignright {
  text-align:right;
}
.aligncenter {
  text-align:center;
}

#maestro_workflow_container {
}

.maestro_heading {
  font-size: 16pt;
  font-weight: bold;
  padding: 5px;
}

.maestro_tool_tip {
  background: #F8EFA6;
  z-index: 10000;
  float: left;
}

.maestro_tool_tip_inner {
  padding: 5px;
}

.maestro_tool_tip input {
  margin: 3px 3px 3px 3px;
  padding: 1px 7px 1px 7px;
  cursor: pointer;
  border: 1px solid black;
}

.maestro_ajax_indicator {
  float: right;
}

.maestro_context_menu {
  display: none;
}

.maestro_task_container {
  z-index: 100;
  background: #FFFFFF;
  cursor: move;
}

.maestro_task {
  cursor: move;
}

.maestro_task_body {
  padding: 3px;
  text-align: center;
}

.maestro_task_edit_panel {
  background: #fff;
  width: 450px;
}

.maestro_task_edit_panel table {
  border: 0px;
}

.maestro_task_edit_panel input {
  border: 1px solid #ccc;
}

.maestro_task_edit_tab {
  background: #fff;
  float: left;
  margin: 0px 0px 0px 5px;
}

.maestro_task_title {
  height: 22px;
  padding: 0px 3px 0px 3px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.maestro_task_title_grn { background: url(../images/admin/header-green-bg.png) repeat-x; }
.maestro_task_title_red { background: url(../images/admin/header-red-bg.png) repeat-x; }
.maestro_task_title_yel { background: url(../images/admin/header-yellow-bg.png) repeat-x; }
.maestro_task_title_bl { background: url(../images/admin/header-blue-bg.png) repeat-x; }
.maestro_task_title_gry { background: url(../images/admin/header-gray-bg.png) repeat-x; }

.tl { background: url(../images/admin/corners/tl.gif) 0 0 no-repeat; }
.tr { background: url(../images/admin/corners/tr.gif) 100% 0 no-repeat; padding: 10px; }
.tl-grn { background: url(../images/admin/corners/tl-grn.gif) 0 0 no-repeat; }
.tr-grn { background: url(../images/admin/corners/tr-grn.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.tl-red { background: url(../images/admin/corners/tl-red.gif) 0 0 no-repeat; }
.tr-red { background: url(../images/admin/corners/tr-red.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.tl-yel { background: url(../images/admin/corners/tl-yel.gif) 0 0 no-repeat; }
.tr-yel { background: url(../images/admin/corners/tr-yel.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.tl-bl { background: url(../images/admin/corners/tl-bl.gif) 0 0 no-repeat; }
.tr-bl { background: url(../images/admin/corners/tr-bl.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.tl-gry { background: url(../images/admin/corners/tl-gry.gif) 0 0 no-repeat; }
.tr-gry { background: url(../images/admin/corners/tr-gry.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.tl-bge { background: url(../images/admin/corners/tl-bge.gif) 0 0 no-repeat; }
.tr-bge { background: url(../images/admin/corners/tr-bge.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.tl-wht { background: url(../images/admin/corners/tl-wht.gif) 0 0 no-repeat; }
.tr-wht { background: url(../images/admin/corners/tr-wht.gif) 100% 0 no-repeat; padding: 1px 10px 1px 10px; }
.bl { background: url(../images/admin/corners/bl.gif) 0 100% no-repeat; }
.br { background: url(../images/admin/corners/br.gif) 100% 100% no-repeat; }
.bl-bge { background: url(../images/admin/corners/bl-bge.gif) 0 100% no-repeat; }
.br-bge { background: url(../images/admin/corners/br-bge.gif) 100% 100% no-repeat; }
.bl-wht { background: url(../images/admin/corners/bl-wht.gif) 0 100% no-repeat; }
.br-wht { background: url(../images/admin/corners/br-wht.gif) 100% 100% no-repeat; }
.bl-wht-ex { background: url(../images/admin/corners/bl-wht-ex.gif) 0 100% no-repeat; }
.br-wht-ex { background: url(../images/admin/corners/br-wht-ex.gif) 100% 100% no-repeat; }
.t { background: url(../images/admin/corners/dot.gif) 0 0 repeat-x; }
.b { background: url(../images/admin/corners/dot.gif) 0 100% repeat-x; }
.l { background: url(../images/admin/corners/dot.gif) 0 0 repeat-y; }
.r { background: url(../images/admin/corners/dot.gif) 100% 0 repeat-y; }

span.maestro_working {
  background:url(../images/admin/status-active.gif) no-repeat right center;
  padding-right:18px;
}

.maestro_hide_error_bar {
	display: none;
}

.maestro_show_error_bar {
	display: ;
}


/* Older tooltip or on-hover css styles */
a.info{
  position:relative; /*this is the key*/
  z-index:24;
  color:#000;
  text-decoration:none
}

a.info:hover  {
  z-index:25;
  padding-top:5px;
  padding-bottom:5px;
  text-decoration:none
}

a.info span{display: none}

a.info:hover span { /*the span will display just on :hover state*/
  font-family:Verdana, Tahoma, Arial;
  font-style:normal;
  font-size: 7pt;
  display:block;
  position:absolute;
  top:3em; left:-15em; width:22em;
  border:1px solid #5D96B9;
  background-color:#FFFFA0; color:#555;
  padding:2px;
  text-align: left;
  text-decoration:none
}
/* End of older tooltip CSS styles */